{{ require_css(get_asset_url('../../event-registration.css')) }}
{{ require_js(get_asset_url('../../vendor.js'), 'footer') }}
{{ require_js(get_asset_url('../../event-registration.js'), 'footer') }}

{%- macro outputColorIfSet(property, color, css_selector) -%}
  {%- if color.color -%}
    #hs_cos_wrapper_{{ name }} {{css_selector}} {
      {{property}}: rgba({{color.color|convert_rgb}}, {{color.opacity/100}});
    }
  {%- endif -%}
{%- endmacro -%}

<div class="event-registration">
  <script type="application/json"
    data-module-instance="{{ name }}"
    data-portal-id="{{ portal_id }}">
    {%- set moduleData = module -%}
    {%- do moduleData.update({
      'events_root': content_by_id(moduleData.page_roots.events_root).absoluteUrl,
      'my_events_page': content_by_id(moduleData.page_roots.my_events_page).absoluteUrl,
      'hero_img': moduleData.hero_image_group.hero_img
    })-%}
    {{ moduleData|tojson }}
  </script>
  {% require_css %}
  <style>
    {{module.colors.dark_color}}
    {% if module.customize_styles and module.colors.color_schemes %}
      {% if module.colors.dark_color.color != null and module.colors.light_color.color != null and module.colors.link_color.color != null %}
        {% if module.colors.color_schemes == 'dark_theme' %}
          {{outputColorIfSet('background-color', module.colors.dark_color, '.event-registration .filter-bar')}}
          {{outputColorIfSet('background-color', module.colors.dark_color, '.event-registration .back-banner')}}
          {{outputColorIfSet('background-color', module.colors.dark_color, '.event-registration .event-card')}}
          {{outputColorIfSet('background-color', module.colors.dark_color, '.event-registration .event-details .event-details__registration--title')}}
          {{outputColorIfSet('background-color', module.colors.dark_color, '.event-registration .event-details .event-details__registration--info .event-button')}}

          {{outputColorIfSet('color', module.colors.light_color, '.event-registration .filter-bar')}}
          {{outputColorIfSet('color', module.colors.light_color, '.event-registration .back-banner')}}
          {{outputColorIfSet('color', module.colors.light_color, '.event-registration .event-card')}}
          {{outputColorIfSet('color', module.colors.light_color, '.event-registration .event-card .event-card__title')}}
          {{outputColorIfSet('color', module.colors.light_color, '.event-registration .event-details .event-details__registration--title')}}
          {{outputColorIfSet('color', module.colors.light_color, '.event-registration .event-details .event-details__registration--info .event-button')}}
        {% endif %}

        {% if module.colors.color_schemes == 'light_theme' %}
          {{outputColorIfSet('background-color', module.colors.light_color, '.event-registration .filter-bar')}}
          {{outputColorIfSet('background-color', module.colors.light_color, '.event-registration .back-banner')}}
          {{outputColorIfSet('background-color', module.colors.light_color, '.event-registration .event-card')}}
          {{outputColorIfSet('background-color', module.colors.light_color, '.event-registration .event-details .event-details__registration--title')}}
          {{outputColorIfSet('background-color', module.colors.light_color, '.event-registration .event-details .event-details__registration--info .event-button')}}

          {{outputColorIfSet('color', module.colors.dark_color, '.event-registration .filter-bar')}}
          {{outputColorIfSet('color', module.colors.dark_color, '.event-registration .back-banner')}}
          {{outputColorIfSet('color', module.colors.dark_color, '.event-registration .event-card')}}
          {{outputColorIfSet('color', module.colors.dark_color, '.event-registration .event-card .event-card__title')}}
          {{outputColorIfSet('color', module.colors.dark_color, '.event-registration .event-details .event-details__registration--title')}}
          {{outputColorIfSet('color', module.colors.dark_color, '.event-registration .event-details .event-details__registration--info .event-button')}}
          {{outputColorIfSet('border-color', module.colors.dark_color, '.event-registration .event-details .event-details__registration--info .event-button')}}
        {% endif %}

        {{outputColorIfSet('color', module.colors.link_color, '.event-registration .my-events-link a')}}
        {{outputColorIfSet('color', module.colors.link_color, '.event-registration .event-details__share--table a')}}
        {{outputColorIfSet('color', module.colors.link_color, '.event-registration a.event-details__prevLink')}}
        {{outputColorIfSet('color', module.colors.link_color, '.event-registration a.event-details__nextLink')}}
      {% endif %}
    {% endif %}
  </style>
  {% end_require_css %}
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="event-registration__module--{{ name }}"></div>
</div>
