.event-listings {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  text-align: left;
  font-size: 0.875em;
  @media screen and (min-width: 1001px) {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    font-size: 1rem;
  }
}

.event-listings a,
.event-listings a:hover,
.event-listings a:focus {
  color: inherit;
  text-transform: unset;
  text-decoration: none;
}
.event-listings__content {
  width: 100%;
}

.event-card__link {
  display: block;
  color: inherit;
  margin: 0 0 35px;
}

.event-card__link--placeholder {
  height: 0;
}