.filter-bar__browse--dropdown-list-group {
  margin: 0px;
  padding: 0;
  position: relative;
}

@media (min-width:851px) {
  .filter-bar__browse--dropdown-list-group {
    width: calc(100% + 5rem);
  }
}
