@import '~react-day-picker/lib/style.css';
@import '../scss/_tokens.scss';

// DayPicker overrides
.eventCalendar {
  flex: 0 0 360px;
  .DayPicker {
    width: 100%;
    .DayPicker-wrapper {
      background-color: $color-secondary-dark;
      font-size: 0.875em;
      padding: 1.25em;
      border-radius: 5px;
      .DayPicker-Day {
        position: relative;
        border-radius: 4px;
        pointer-events: none;
        padding: 0.75em .5em;
        &:hover {
          // Overrides really specific rule:
          background-color: #f25455 !important;
          color: #fff;
          &:after {
            background-color: #fff;
          }
        }
      }
      .DayPicker-Day--today {
        color: #fff;
        background-color: $color-primary;
        border-radius: 4px;
      }
      .DayPicker-Day--hasEvent {
        position: relative;
        color: $color-primary;
        pointer-events: auto;
        cursor: pointer;
        &.DayPicker-Day--today {
          color: #fff;
        }
        &.DayPicker-Day--outside {
          color: #8b9898;
          &:after {
            background-color: #8b9898;
          }
        }
        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: 8px;
          left: 50%;
          height: 5px;
          width: 5px;
          border-radius: 50%;
          transform: translateX(-50%);
          background-color: $color-primary;
        }
      }
      .DayPicker-Months {
        border-bottom: 1px solid #ccc;
        .DayPicker-Month {
          width: 100%;
          margin: 0;
          .DayPicker-Caption {
            margin-bottom: 1em;
          }
          .DayPicker-WeekdaysRow {
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            text-transform: uppercase;
            font-size: 1em;
            .DayPicker-Weekday {
              padding: .25em;
            }
          }
        }
      }
    }
  }
}
