.filter-bar__browse--dropdown-list-group {
  position: relative;
  padding: 0;
}

@media (min-width:851px) {
  .filter-bar__browse--dropdown-list-group {
    left: -1rem;
    width: calc(100% + 5rem);
  }
}
