@media (min-width:851px) {
  .hsg-nav__dropdown-row {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
}

@media (min-width:851px) {
  .hsg-nav__dropdown-row:not(:last-child) {
    border-bottom: 1px solid #cbd6e2;
  }
}


@media (min-width:851px) {
  .hsg-nav__dropdown-column {
    -webkit-box-flex: 1;
    flex: 1;
    padding-top: 0.5rem;
  }
}

@media (min-width:851px) {
  .hsg-nav__dropdown-column:not(:last-child) {
    margin-right: 1rem;
  }
}

.hsg-nav__header {
  position: relative;
  font-size: 1rem;
  font-weight: 800;
  margin: 0 0 0.5rem;
}

@media (max-width:500px) {
  .hsg-nav__header {
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}

@media (max-width:850px) {
  .hsg-nav__header-subheader {
    text-align: left;
    font-size: 0.875rem;
    background-color: #eaf0f6;
    padding: 0.5rem 0;
    border-bottom: 1px solid #cbd6e2;
    margin-bottom: 0;
  }
}
