.event-listings {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  text-align: left;
  font-size: 0.875em;
  @media screen and (min-width: 1001px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 40px 0 0;
    font-size: 1rem;
  }
}

.event-listings a,
.event-listings a:hover,
.event-listings a:focus {
  color: inherit;
  text-transform: unset;
  text-decoration: none;
}
.event-listings__content {
  width: 100%;
}

.event-card__link {
  display: block;
  color: inherit;
  flex: 0 1 calc(50% - 20px);
  margin: 0 0 35px;
}
