.event-details {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px 30px;
}
.event-details__row {
  display: flex;
  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }
}
.event-details__column {
  flex: 1;
}
.event-details__column--sidebar {
  flex: 0 0 360px;
  margin-left: 40px;
}
.event-details__image {
  overflow: hidden;
  max-height: 500px;
  margin: 0 0 30px 0;
}

.event-details__image img {
  max-width: 740px;
  width: 100%;
  height: auto;
}
.event-details__table {
  display: flex;
  text-align: left;
}
.event-details__table p {
  line-height: 1.3;
}
.time-icon,
.location-icon,
.people-icon {
  height: 25px;
  width: 25px;
  margin-right: 10px;
  overflow: visible;
}
.event-details__table {
  margin: 50px 0;
}
.event-details__table p,
.event-details__table h3 {
  margin: 0;
}
.event-details__table .column {
  display: flex;
  padding-right: 50px;
  white-space: nowrap;
}
.event-details__info {
  padding: 0 15%;
  @media screen and (max-width: 1000px) {
    padding: 0;
  }
}
.event-details__description p {
  line-height: 1.3;
}
.event-details__map {
  position: relative;
  padding-bottom: 10px;
  overflow: hidden;
  width: 100%;
  height: 400px;
}
.event-details__map iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.event-details__share {
  text-align: center;
  margin-top: 65px;
  text-transform: uppercase;
  font-size: 1.375em;
  letter-spacing: 3px;
}
.event-details__share--table {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 50px;
}
.event-details__nextLink {
  display: inline-block;
  float: left;
}
.event-details__nextLink {
  display: inline-block;
  float: right;
}


.share-icon {
  height: 25px;
  width: 20px;
  margin: 13px 15px 5px;
}

// Google maps styling reset
.gm-style.place-card,
.gm-style.place-card-large,
.gm-style.place-card-medium,
.gm-style.place-card-small {
  display: none;
}
