.event-listings {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  font-size: 1rem;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  text-align: left;
  @media screen and (max-width: 1000px) {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 0.875em;
  }
}

.event-listings a,
.event-listings a:hover,
.event-listings a:focus {
  color: inherit;
  text-transform: unset;
  text-decoration: none;
}
.event-listings__content {
  width: 100%;
}

.event-card__link {
  display: block;
  color: inherit;
  margin: 0 0 35px;
}
