@media (min-width:851px) {
  .filter-bar__browse--dropdown-row {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
}

@media (min-width:851px) {
  .filter-bar__browse--dropdown-column {
    -webkit-box-flex: 1;
    flex: 1;
    padding-top: 0.5rem;
  }
}

@media (min-width:851px) {
  .filter-bar__browse--dropdown-column:not(:last-child) {
    margin-right: 1rem;
  }
}

.filter-bar__browse--dropdown-column-header {
  position: relative;
  font-size: 1rem;
  font-weight: 800;
  margin: 0 0 0.5rem;
}
