.upcoming-events {
  padding: 45px 10px;
  text-align: center;
}

.event-listings--upcoming {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px 40px 0 40px;
  text-align: left;
  @media screen and (max-width: 1000px) {
    flex-direction: column;
    padding-right: 0;
    padding-left: 0;
  }
  .event-card__link {
    @media screen and (max-width: 1000px) {
      width: 100%;
    }
    width: 30%;
    margin: 0 0 35px;
  }
}
.event-listings--upcoming a {
  color: inherit;
}
.event-listings--upcoming a:hover {
  text-decoration: none;
}
.no-event-message {
  text-align: center;
}

.time-icon,
.location-icon,
.people-icon {
  height: 25px;
  width: 25px;
  margin-right: 10px;
  overflow: visible;
}
